<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mitglieder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>

  <ion-content>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col *ngFor="let member of members | async" col-12 size="12">
            <ion-card button="true" routerDirection="forward" href="/member-details/{{member.name.first}}">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="member.picture.medium">
                </ion-avatar>
                <h2 text-capitalize style="padding-left:5px"> {{ member.name?.first }} {{ member.name?.last }}</h2>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

     </ion-content>
</ion-content>