ion-title {
    text-align :center;
    color: #707070;
}

.publicationInfo{
    padding-top:3px;
    color: #CBD0D3;
    font-size: .7em
}

ion-card-content,ion-card-header{
    background-color:#EFEFEF;
}

ion-card-title{
    font-family: Helvetica;
}